<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Help | VoizFonica</title>
    <link rel="stylesheet" type="text/css" href="css/customerComplaint.css">
</head>

<body> <!--Start of body-->
<!-- Header / Navigation Starts-->
<b>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm bg-dark ">


            <a class="navbar-brand" th:href="@{/index}" id="index">
                <img class="logo-brand" th:src="@{/images/logo.png}" th:alt="VoizFonica" th:title="VoizFonica"/>
            </a>

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-header-list" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{index}" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{billRecharge}" >Pay/Recharge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{eStore}">EStore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{plans}">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{MNP}">MNP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{aboutus}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerFont" th:href="@{customerComplaint}">Help</a>
                    </li>

                </ul>
            </div>


            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <img class="login-brand" th:src="@{/images/headerLogin.png}" th:alt="Login-SignUP" th:title="Login-SignUP" th:width="10"  th:height ="10">
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                    <a class="dropdown-item" th:href = "@{loginPage}">Login</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href = "@{customerRegister}" >Sign Up</a>

                </div>
            </div>
        </nav>
    </div>
</b>

<!--Header / Navigation ends here -->

<!-- Customer complaint section -->
<div class="container">

    <div class="row">
        <div class="col">
            <h4 class="complainttitle">DROP A COMPLAINT</h4>
        </div>
        <div class="col">
            <h4 class="complainttitle">FREQUENTLY ASKED QUESTIONS</h4>
        </div></div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="queryType">Query Type</label>
                    <select class="form-control" id="queryType">
                        <option value="">Choose query type</option>
                        <option value="general">General</option>
                        <option value="productSchemes">Product Schemes</option>
                        <option value="myAccount">My Account</option>
                        <option value="dataAndNetwork">Data and Network</option>
                        <option value="activationDeavtivation">Service Activation and Deactivation</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="queryByUser">Any complaints?</label>
                    <textarea class="form-control" id="queryByUser" rows="5" cols="20" placeholder="Type here"></textarea>
                </div>

                <button type="submit" class="btn btn-info" id="complaintSubmit">Submit</button>

            </form>
        </div>
        <div class="col">

            <div style="overflow-y: auto; height:400px; padding-bottom:20px">
                <h5>What is the fair speed usage limit in case of unlimited data plan?</h5>
                <p th:align="left">This is the limit of data consumption upto which the subscriber get the promised speed.
                    After the limit get exhausted, the speed is reduced.
                    TRAI has mandated the Telecom Service Provider clearly specifying their fair usage limit and the data speed to be provided after the fair usage limit gets exhausted.
                </p>
                <h5> What is the minimum download speed prescribed for broadband?</h5>
                <p th:align="left">As per quality of service of broadband service (Second Amendment) regulations,
                    2014 a minimum download speed of 512 kbps will be provided to an individual subscribers by the
                    VoizFonica.
                </p>
                <h5>Why I am not getting promised speed after changing my plan?</h5>
                <p th:align="left">It takes about 2 hours post activation for you to get the revised speed. If it has been over 2 hours, reboot your router.
                    If the problem still persists call 191 for further assistance.
                </p>
                <h5>I want to know about Aadhaar Based Verification process</h5>
                <p th:align="left">To verify your mobile number with Aadhaar,
                    you may call 191 or visit our nearest VoizFonica Store with your Aadhaar number.
                </p>
                <h5>How can I know my data usage?</h5>
                <p th:align="left">Simply login at VoizFonica.com and go to Usage section to view your data usage.
                    Go to My Account >> Data Balance to view your data usage.
                </p>
                <h5>How can I change my bill plan?</h5>
                <p th:align="left">Online Store offer is a handset bundled plan valid for 24 months.
                    Till this tenure is not over, you will not be able to change your plan.
                    In case this tenure is already over, you may from VoizFonica.com
                </p>
            </div>
        </div>

    </div>
</div>

<!-- Footer starts-->
<b>
    <footer class="page-footer">
        <div class="container">


            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{investors}">Investors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{careers}">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{Ppolicy}">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{business}">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{contact}">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="container">
            <br>


            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="https://www.twitter.com/"><img src="../static/images/twitter_icon.jpg" id="footer-image1"
                                                            th:src="@{/static/images/twittericon.jpg}"/> </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/"> <img src="../static/images/instagram_icon.jpg"  id="footer-image2" th:src = "@{/images/instagram_icon.jpg}" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/"> <img src="../static/images/facebook_icon.jpg"  id="footer-image3"  th:src = "@{/images/facebook_icon.png}"/> </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/">  <img src="../static/images/youtube_icon.jpg" id="footer-image4" th:src = "@{/images/youtube_icon.png}" /> </a>
                </li>
                <li class="nav-item">
                <a href="https://www.linkedin.com/"> <img src="../static/images/link_icon.jpg" id="footer-image5"   th:src = "@{/images/link_icon.png}" /></a>
                </li>
            </ul>
            <br>
            <hr>
            <div class="footer-copyright text-center">© 2019 VoizFonica. All Rights Reserved </div>
        </div>
    </footer>
    </b>





</body> <!--End of body -->

</html>
